body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}
a {
  color: #2774cd;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.weather-app {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  background-repeat: no-repeat;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: 1px solid rgba(39, 116, 205, 0.1);
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: #2774cd;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
}

.weather-app-details-specifics {
  color: #c852f6;
  font-weight: bold;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-unit {
  margin-top: 18px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
